# configuration file begore setup
.beforesetup/

# vim
## Swap files
[._]*.s[a-v][a-z]
!*.svg  # comment out if you don't need vector files
[._]*.sw[a-p]
[._]s[a-rt-v][a-z]
[._]ss[a-gi-z]
[._]sw[a-p]
## plugin folders
vim/*
!vim/autoload/
vim/autoload/*
!vim/autoload/.gitkeep
vim/bitmaps/*
!vim/bitmaps/.gitkeep
vim/colors/*
!vim/colors/.gitkeep
vim/doc/*
!vim/doc/.gitkeep
vim/doc/*
!vim/doc/.gitkeep

## Session
Session.vim
Sessionx.vim

